.userProfileContainer {
    position: fixed;
    width: 355px;
    height: calc(100vh - 74px);
    left: 25px;
    top: 74px;
    bottom: 0;
    background: #1E1E1E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.profilePictureContainer {
    width: 100%;
    height: auto;
    max-height: 355px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePictureImage {
    width: 75%;
    height: auto; 
    max-width: 300px; 
    border-radius: 50%;
    object-fit: cover; 
}

.profileNameContainer {
    width: 100%;
    margin-bottom: 10%;
    text-align: center;
}

.profileNameContainerEditing {
    width: 100%;
    text-align: center;
}

.artistText{
    margin-top: 3px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FF8000;
}

.profileBioContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 20%;
}

.countryContainer,
.linkContainer {
    width: 100%;
    text-align: left;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileName {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.profileBio {
    font-size: 1rem;
    color: #ccc;
}

.countryImage,
.linkImage {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.country,
.link {
    font-size: 1rem;
    color: #ccc;
    margin-left: 10px;
}

.link {
    color: #1E90FF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    display: flex;
    justify-content: center;
    position: relative;
}

.preview {
    width: 75%;
    height: auto;
}

.upload {
    display: none;
}

.uploadIcon {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: calc(50% - 125px);
    right: calc(50% - 125px);
    opacity: 0;
    background-color: white;
    border-radius: 50%;
}

.uploadIcon:hover {
    opacity: 0.5;
}


.inputName, .inputBio {
    width: 100%;
    font: inherit;
    font-size: 1rem;
    max-width: 300px;
    max-height: 100px;

    margin-top: 5%;
    margin-bottom: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: var(--primary-color);
    color: #fff;
}

.inputLink, .inputCountry {
    width: 89%;
    font: inherit;
    text-align: left;

    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: var(--primary-color);
    color: #fff;

    font-size: 1rem;
    color: #ccc;
    margin-left: 10px;
}

.inputBio {
    height: 200px;
    background-color: var(--primary-color);
}

.saveButton, .editButton {
    position: absolute;
    font: inherit;
    text-align: center;
    align-items: center;

    right: 20px;
    bottom: 30px;
    height: auto;
    width: 72px;
    padding: 10px;
    background-color: #FF8000;
    color: #fff;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton {
    position: absolute;
    font: inherit;
    text-align: center;
    align-items: center;

    right: 100px;
    bottom: 30px;
    height: auto;
    width: 72px;
    padding: 10px;
    background-color: gray;
    color: #fff;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton:hover {
    background-color: black;
}

.saveButton:hover, .editButton:hover {
    background-color: #e67300;
}

@media (max-width: 768px) {
    .userProfileContainer {
        width: 90%;
        left: 5%;
        top: 50px;
        height: auto;
        padding: 20px;
    }

    .profilePictureContainer {
        width: 80%;
        left: 10%;
        top: 150px;
    }

    .profileNameContainer {
        top: 400px;
    }

    .profileBioContainer {
        top: 450px;
    }

    .countryContainer {
        top: 500px;
    }

    .linkContainer {
        top: 550px;
    }

    .profileName {
        font-size: 1.2rem;
    }

    .profileBio,
    .country,
    .link {
        font-size: 0.9rem;
    }
}