.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
}

.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin-top: 3rem;
    margin-left: 12.6rem;
}

.userProfileContainer {
    position: fixed;
    top: 74px;
    max-width: 355px;
    height: auto;
    left: 25px;
    top: 74px;
    bottom: 0;
    background: #1E1E1E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.artistText{
    position: absolute;
    left: 13.39%;
    right: 13.39%;
    top: 51.76%;
    bottom: 45.7%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    /* or 30px */
    text-align: center;
    letter-spacing: -0.02em;

    color: #FF8000;
}

.albumsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    width: 1400px;
}
