.userProfileContainer {
    position: fixed;
    width: 355px;
    height: auto;
    left: 25px;
    top: 74px;
    bottom: 0;
    background: #1E1E1E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.profilePictureContainer {
    width: 100%;
    height: 30%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.profilePictureImage {
    width: 75%;
    height: auto;
    border-radius: 50%;
}

.profileNameContainer {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}


.artistText{
    margin-top: 3px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    /* or 30px */
    text-align: center;
    letter-spacing: -0.02em;

    color: #FF8000;
}

.profileBioContainer {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 100px;
}

.countryContainer,
.linkContainer {
    width: 100%;
    text-align: left;
    margin-top: 15px;
}

.profileName {
    font-size: 1.8rem;
    color: #fff;
}

.profileBio {
    font-size: 1.2rem;
    color: #ccc;
}

.countryImage,
.linkImage {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.country,
.link {
    font-size: 1.2rem;
    color: #ccc;
    margin-left: 10px;
}

.link {
    color: #1E90FF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputName, .inputBio {
    width: 100%;
    font: inherit;
    max-width: 300px;

    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: var(--primary-color);
    color: #fff;
}


.inputLink, .inputCountry {
    width: 89%;
    font: inherit;
    text-align: left;

    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: var(--primary-color);
    color: #fff;

    font-size: 1.2rem;
    color: #ccc;
    margin-left: 10px;
}

.inputBio {
    height: 200px;
    background-color: var(--primary-color);
}

.saveButton, .editButton {
    position: absolute;
    font: inherit;
    text-align: center;
    align-items: center;

    right: 20px;
    bottom: 30px;
    height: auto;
    width: 64px;
    padding: 10px;
    background-color: #FF8000;
    color: #fff;

    width: 64px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton:hover, .editButton:hover {
    background-color: #e67300;
}

@media (max-width: 768px) {
    .userProfileContainer {
        width: 90%;
        left: 5%;
        top: 50px;
        height: auto;
        padding: 20px;
    }

    .profilePictureContainer {
        width: 80%;
        left: 10%;
        top: 150px;
    }

    .profileNameContainer {
        top: 400px;
    }

    .profileBioContainer {
        top: 450px;
    }

    .countryContainer {
        top: 500px;
    }

    .linkContainer {
        top: 550px;
    }

    .profileName {
        font-size: 1.2rem;
    }

    .profileBio,
    .country,
    .link {
        font-size: 0.9rem;
    }
}