.container {
    box-sizing: border-box;
    width: 100%;
    height: 329px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: left;   
    margin-left: 2.5rem;
    max-width: 64rem;
    width: 100%;
}

.latestReviewText {
    position: absolute;
    font-family: 'Raleway';
    font-style: normal;
    width: auto;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    color: #FF8000;
}

.noReviewText {
    font-family: 'Montserrat';
    text-align: left;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin-top: 2rem;
}

.albumCover {
    width: 270px;
    height: 270px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: #1A1A1A;
    margin-top: 1.29rem;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}

.albumCover:hover {
    transform: scale(1.05);
}

.albumInfoContainer { 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 2rem;
    width: 100%;
}

.albumTitle {  
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: -0.02em;
    white-space: nowrap;
}

.artist {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #F3F3F3;
    margin-top: 0.2rem; 
    white-space: nowrap;
}

.artist:hover {
    color: #FF8000;
    transform: scale(1.03);
}

.reviewInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin-top: 1.6rem;
    position: relative;
    padding: 0 1rem;
}

.reviewTitle {
    font-family: 'Montserrat';
    text-align: left;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: #FF8000;
    margin-bottom: 2px;
    width: 100%;
}

.reviewText {
  font-family: 'Montserrat';
  text-align: center;
  font-weight: 400;
  font-size: clamp(16px, 1.8vw, 22px);
  line-height: 120%;
  letter-spacing: -0.02em;
  flex-grow: 1;

  width: 100%;
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
   overflow: hidden; 
}

.topCommentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    max-width: 100%;
    min-width: auto;
    box-sizing: border-box;
}

.topCommentText {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: clamp(16px, 1.5vw, 20px);
    line-height: 120%;
    letter-spacing: -0.02em;
    width:100%;
}

.topComment {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: clamp(14px, 1.2vw, 15px);
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #cdcdcd;

    margin-top: 0.1rem;
    
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
}

  
.boomContainer {
  position: absolute;
  margin-top: 2rem;
  right: 2rem;
  z-index: 20;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .detailsContainer {
        margin-left: 0;
        padding: 1rem;
        align-items: center;
    }

    .albumInfoContainer {
        align-items: center;
    }

    .reviewInfoContainer{
        padding: 0 1rem;
    }

    .boomContainer{
        position: relative;
        margin-top: 1rem;
        right: auto;
    }
}

@media (max-width: 768px) {
    .albumCover {
        width: 200px;
        height: 200px;
    }

    .reviewTitle,
    .reviewText {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .albumCover {
        width: 150px;
        height: 150px;
    }

    .reviewTitle,
    .reviewText {
        font-size: 16px;
    }
}

