footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 15px;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.end {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.link {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color: var(--accent-color);
}