.user-profile-container {
    position: absolute;
    width: 366px;
    height: 1024px;
    left: 25px;
    top: 2px;
    
    background: #1E1E1E;
}

/*
.profile-details-background {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

}
    */

/* Main Profile Picture */

.profile-picture-container {
    position: absolute;
    width: 271px;
    height: 270px;
    left: 47px;
    top: 192px;
}
    
.profile-picture-image {
    position: absolute;
    left: 13.11%;
    right: 13.11%;
    top: 18.75%;
    bottom: 54.88%;
    
    background: url(image.png), #E3E3E3;
}

/* Name */
.profile-name-container{
    position: absolute;
    width: 268px;
    height: 26px;
    left: 49px;
    top: 486px;
}

.profile-name {
    position: absolute;
    left: 13.39%;
    right: 13.39%;
    top: 47.46%;
    bottom: 50%;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    /* or 43px */
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #F3F3F3;
}
    
.profile-bio-container {
    position: absolute;
    width: 301px;
    height: 130px;
    left: 33px;
    top: 599px;
}

/* Bio */
.profile-bio {
    position: absolute;
    left: 9.02%;
    right: 8.74%;
    top: 58.5%;
    bottom: 28.81%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    /* or 26px */
    letter-spacing: -0.02em;

    color: #CDCDCD;
}


.country-container {
    position: absolute;
    width: 316px;
    height: 26px;
    left: 34px;
    top: 808px;
}
    
.country {
    position: absolute;
    left: 19.67%;
    right: 4.37%;
    top: 78.91%;
    bottom: 18.55%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    /* or 26px */
    letter-spacing: -0.02em;
    
    color: #CDCDCD;
}
    
.country-image {
    position: absolute;
    left: 9.29%;
    right: 83.88%;
    top: 79%;
    bottom: 18.55%;
    
    background: url(image.png);
}


/* Link */
.link-container {
    position: absolute;
    width: 316px;
    height: 26px;
    left: 34px;
    top: 856px;
}

/* Link */
.link{
    position: absolute;
    left: 19.67%;
    right: 4.37%;
    top: 83.59%;
    bottom: 13.87%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    /* or 26px */
    letter-spacing: -0.02em;

    color: #CDCDCD;
}


/* Link */
.link-image{
    position: absolute;
    left: 9.29%;
    right: 83.88%;
    top: 83.69%;
    bottom: 13.87%;

    background: url(Daco_5096184);
}


