.mainContainer {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: auto;

    border-radius: 20px;

    background-color: rgb(18, 18, 18, 0.9);
    box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.85);

    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2%;

    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 40%;
}

.albumTitle {
    font-weight: bold;
}

.albumCover {
    width: 80%;
    aspect-ratio: 1/1;
    
    border-radius: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    transition: .25s;
}

.albumCover:hover {
    transform: scale(1.015);
    opacity: 70%;
}

.albumCover:active {
    opacity: 30%;
}

.albumRating {
    font-family: var(--body-font);
    font-weight: bolder;
    color: var(--accent-color);
    
    border: 1px solid var(--accent-color);
    border-radius: 8px;

    box-shadow: 0px 6px 12px 2px rgb(255, 128, 0, .5);

    padding: 8px 64px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 60%;
    height: auto;

    gap: 8px;
}

.artistName {
    color: var(--secondary-color);
    transition: 0.25s;
}

.artistName:hover {
    color: var(--accent-color);
    transform: scale(1.03);
}

.albumDescription {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
    word-wrap: break-word;
    width: 100%; 
}

.albumReviewButton {
    align-self: center;
    color: var(--secondary-color);
    font-weight: bold;

    background-color: rgb(18, 18, 18, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    border: 1px solid var(--accent-color);
    border-radius: 8px;

    padding: 12px 64px;  

    transition: 0.3s;
}

.albumReviewButton:hover {
    transform: scale(1.015);
    background-color: rgb(18, 18, 18, 0.85);
}

.albumReviewButton:active {
    background-color: var(--accent-color);
}

/* RESPONSIVE STUFF */

/* @media (max-width: 1024px) {
    .mainContainer {
        flex-direction: column;
    }
} */