header {
    height: 100px;
}

.background-container {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.left-box, .center-box, .right-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-box {
    align-items: flex-start;
}

.center-box {
    align-items: center;
}

.right-box {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    flex-direction: row; 
    gap: 10px; 
}

.logo {
    padding-left: 5%;
    width: 50%;
}

.search-wrapper {
    position: relative;
    width: 80%;
}

.search {
    width: 100%;
    border: 1px solid var(--supporting-color);
    background-color: var(--secondary-color);
    display: block;
    padding: 9px 40px 9px 10px; 
    border-radius: 10px;
    font-family: var(--body-font);
    color: black;
}

.search-button {
    position: absolute;
    right: 0px; 
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 96%;
}

.search-button:hover {
    background-color: var(--primary-color); 
}

.search-icon {
    width: 15px;
}

.blocker {
    width: 5%;
}

.pfp {
    height: 50%; 
}

.register-button, .sign-in-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%; 
    width: 25%;
    border-radius: 5px;
    font-family: var(--body-font);
    text-align: center;
    vertical-align: middle; 
    cursor: pointer;
    font-size: 100%;
}

.register-button {
    background-color: var(--supporting-color);
    color: white;
    border: 1px solid var(--supporting-color);
}

.register-button:hover {
    background-color: var(--accent-color); 
}

.sign-in-button {
    background-color: var(--secondary-color);
    color: black;
    border: 1px solid var(--primary-color);
}

.sign-in-button:hover {
    background-color: var(--accent-color); 
}