.artistReviewContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
}

.reviewItem{
    display: flex;
    flex-direction: column;    
    max-width: 38rem;
    height: fit-content;
}

.albumCover {
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.albumCover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.albumCover:hover {
    transform: scale(1.02);
}

.ratingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background: #1A1A1A;
    border: 1px solid #FF8000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 0.45rem;
}

.boomText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #FF8000;
    text-align: center;
}

.buttonContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    gap: 0.5rem;
    margin: 5px;
}

.buttonContainerEdit{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 0.5rem;
    margin: 5px;
}

.reviewItem:hover .buttonContainer {
    display: flex; 
}

.button {
    font: inherit;
    text-align: center;
    align-items: center;

    height: auto;
    width: auto;
    padding: 10px;
    margin-left: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: var(--primary-color);
    opacity: 0.9;
    box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.85);
}

.button:hover {
    background-color: #e67300;
}

.buttonEditing {
    font: inherit;
    text-align: center;
    align-items: center;

    height: auto;
    width: auto;
    padding: 10px;
    margin-left: 5px;
    background-color: #FF8000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    opacity: 0.9;
    box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.85);
}

.buttonCancel {
    font: inherit;
    text-align: center;
    align-items: center;

    height: auto;
    width: auto;
    padding: 10px;
    margin-left: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    opacity: 0.9;
    box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.85);
    background-color: gray;
}

.buttonEditing:hover {
    background-color: var(--primary-color);
}

.editForm {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%; /* Keep width consistent */
    max-width: 400px; /* Optional: limit width to avoid overflow */
    padding: 10px;
    border: 1px solid #FF8000;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.descriptionEdit {
    width: 100%; /* Keep it consistent with .editForm */
    height: 120px; /* Adjust height for better usability */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: var(--secondary-color);
    box-sizing: border-box; /* Ensures padding and border are included in the size */
}

