* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #121212;
    --secondary-color: #f8f8f8;
    --accent-color: #ff8000;
    --supporting-color: #1a1a1a;

    --header-font: 'Raleway';
    --body-font: 'Montserrat';  

    background-color: var(--supporting-color);
    color: var(--secondary-color);

    font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

a {
    text-decoration: none;
}

html {
    width: 100vw; 
    min-height: 100vh;  

    background: rgb(18,18,18);
    background: linear-gradient(140deg, rgba(18,18,18,1) 35%, rgba(255,128,0,1) 87%, rgba(220,20,60,1) 100%);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;  
    padding: 0;
}