.wrapper {
    flex: 1;
    display: flex;
}

.search {
    flex: 1;
    padding: 10px 16px 10px 16px; 
    border-radius: 16px 0px 0px 16px;
    border: none;
    font-size: 14px; 
    font-family: var(--primary-font);
    text-align: left;
}

.search:focus {
    outline: none;
}

.button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 0px 16px 16px 0px;
    border: none;
    padding: 8px 16px; 
    display: flex; 
    align-items: center; 
}

.icon {
    width: 16px;
    height: 16px;
}
